# python ka chilla with ammar
## how to use juptyer notebook
## our basiscs of pythons
### **01-my 1st program**

In [25]:
print(2+3)
print('hello world')
print('we are learning python with ammar')

5
hello world
we are learning python with ammar

### **02-operators**

In [26]:
print(2+1)
print(3-1)
print(6/2)
print(2*6)
print(13%2)
print(6//2)
print(2**3)

print(3**2/2*3/3+6-4)

3
2
3.0
12
1
3
8
6.5

*PEMDAS parantheis exponents multiply addition subtraction
left to right sequence for M D & A S*

### **03-strings**

In [27]:
print("hello world")
print("we are learning python with ammar")
print('test for dingle quotes')
print("test for double quotes")
print(''' test for triples quotes''')
print("what's up")

hello world
we are learning python with ammar
test for dingle quotes
test for double quotes
 test for triples quotes
what's up

### **04-comments**
shortcut key is **ctrl+/**m

In [28]:
print("how are you")# press this to comment ctrl + /
print("we are learning python with ammar") #print a string
print(2+6) # print operators function with numbers

how are you
we are learning python with ammar
8

### **05-variables**

In [32]:
#variables: objects containing specific values
x=5# numeric or integer value
print(x)
y="we are learning python with ammar" #string variable
print(y)
x=x+10#or x=15
print(x)
#types of variables
type(x)
print(type(x))
print(type(y))

#Rules to assign a variable
#1- the variables should contain letters, numbers or undescores
#2- do not start eith numbers
#3- spaces are not allowed
#4- do not use keywords used in functions(break,median,mean,test etc)
#5- short and descriptive 
#6- case sensitivity(lowecase, uppercase letters use lower case letters)

fruit_basket= "Mangoes, oranges"
fruit_basket=15
print(type(fruit_basket))
print(fruit_basket)

5
we are learning python with ammar
15
<class 'int'>
<class 'str'>
<class 'int'>
15

### **06-input variables**

In [33]:
 fruit_basket="mangoes"
print(fruit_basket)

#input function
 fruit_basket=input("what is your favourite fruit? ")
 print(fruit_basket)

#input function of 2nd stage
 name= input("what is your name? ")
 greatings="hello"
 print(greatings, name)

# another way of stahage 2 input function
 name= input("what is your name? ")
print("Hello", name)

#3rd stage input function
name=input("what is your name? ")
age=input("how old are you")
greatings="hello"

print(greatings, name,",you are still young")

mangoes
what is your favourite fruit? apple
apple
what is your name? tayyab
hello tayyab
what is your name? tayyab
Hello tayyab
what is your name? tayyab
how old are you8
hello tayyab ,you are still young

### **07-conditional logic**

In [41]:
# logical operators are either or yesor no or 0 or 1
# #equal to ==
#not equal to !=
# lessthan < 
# greater than >
# less than and equal to <=
#gretater tha and equal to >=
# is 4 equal to 4?


#application of logiv=cal operator
 #hammad_age=4
 #age_at_school=5
 #print(hammad-age==age_at_school)

#input operators and logical operator
age_at_school=5
hammad_age=input("how old is hammad")#input function
hammad_age=int(hammad_age)
print(type(hammad_age))
print(hammad_age==age_at_school)

how old is hammad5
<class 'int'>
True

In [42]:
hammad_age=4
age_at_school=5
print(hammad_age==age_at_school)

False

### **08-type conversion**

In [43]:
 x=10 #integer
 y=10.2 #float
 z="hello" #string
 #implicit type conversion
 y=x+y


print(x, "type of x is",type(y))

10 type of x is <class 'float'>

In [63]:
#explicit type conversion

 age=input("what is ur age? " )
    #age=int(age)
print(age, type(int(age)))

what is ur age? 65
65 <class 'int'>

In [64]:
#name
name=input("what is your name")
print(name, type(str(name)))

what is your nametayyab
tayyab <class 'str'>

### **09-if, elif, else**

In [66]:
required_age_at_school=5
hammad_age=6

#questiin: can hammad go to school

if hammad_age==required_age_at_school:
    print("congratulations hammad can join the school")
elif hammad_age > required_age_at_school:
      print("hammad should join higher secondary school") 
elif hammad_age<=2:
    print("you should take care of hammad, he is still a baby")         
else:
    print("hammad can not go to school ")

hammad should join higher secondary school

### **10-functions**

In [79]:
 #defining a functions

 def print_codanics():
    print("we are learning with ammar")
    print("we are learning with ammar")
    print("we are learning with ammar")
   

 print_codanics()

we are learning with ammar
we are learning with ammar
we are learning with ammar

In [85]:
def print_codanics():
    text="We are learning python with ammar"
    print(text)
    print(text)
    print(text)
    
print_codanics()

We are learning python with ammar
We are learning python with ammar
We are learning python with ammar

In [87]:
#3
def print_codanics(text):
     print(text)
     print(text)
    
print_codanics("we are leraing python in channel")

we are leraing python in channel
we are leraing python in channel

In [111]:
def school_calculator(age):
    if age==5:
       print("hammad can join the school")
    elif age>2:
        print("hammad shoulg go ro higher school")
    else:
        print("hammad is still a baby")
school_calculator(1)

hammad is still a baby

In [112]:
# def a function  of future
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)
    
future_predicated__age=future_age(18) 

print(future_predicated__age)

38

### **11-loops**

In [120]:
#while and for loops
#  #whileloops

x=0
while (x<=5):
    print(x)
    x=x+1

0
1
2
3
4
5

In [121]:
#for loop

for x in range (5,10):
    print(x)

5
6
7
8
9

In [122]:
#array
days=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]

for d in days:
    #if (d=="friday"):break #loops stop
    if (d=="friday"): continue #skip d
    print(d)

monday
tuesday
wednesday
thursday
saturday
sunday

### **12-import libraries**

In [124]:
# if you want to print the value of pi

import math
print("the value of pi is", math.pi)

import statistics

x=[150,250,3550,450]

print(statistics,statistics.mean(x))


#numpy,pandas

the value of pi is 3.141592653589793
<module 'statistics' from 'C:\\Users\\Tayab\\anaconda3\\lib\\statistics.py'> 1100

### **13-trouble shouting**

In [128]:
#print(we are learning python with ammar) #syntax error

#print(25/0) #run time error


name="ammar"

print("hello "+name)

#trouble shooting

hello ammar